<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import UserDialog from "./UserDialog.vue";

const userStore = useUserStore();
onMounted(async () => {
  await userStore.getUsers();
});
</script>
<template>
  <UserDialog></UserDialog>
  <v-btn class="ma-5" color="primary" @click="userStore.dialog = true"
    >Add New</v-btn
  >
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Name</th>
        <th>Password</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userStore.users" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.login }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.password }}</td>
        <td>
          <v-btn
            class="ma-5"
            prepend-icon="mdi-pencil"
            color="warning"
            @click="userStore.editUser(item)"
            >Edit</v-btn
          ><v-btn
            stacked
            append-icon="mdi-delete-circle"
            color="error"
            @click="userStore.deleteUser(item.id!)"
            >Delete</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
